@charset "UTF-8";


.main-right .main-right-content .box {
	position: absolute;
	top: 50px;
	height: 90%;
	width: 98%;
	background-color: #fff;
	/* margin: 0 auto; */
	
	/* padding: 20px 20px 25px 20px; */
	margin-top:12px;
	margin-left: 12px;
	/* margin-bottom: 70px; */
}








